 <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
</head>
<body>
  <div class="blog-description">
    <p><%= detail.description%></p>
     <p><%= detail.title %></p>
    <div class="comment_section">
      <h2>Comments..</h2>
      <form method="POST" action='/detail/<%= detail.id %>/comments'>
        <textarea col="3" rows="2" placeholder="comments" name="title"></textarea>
        <input type="hidden" value="<%= detail.id %>" name="post"/>
        <button> submit</button> 
        <% detail.comments.forEach(function(comment){ %>
          <p class="comments"><%= comment.title %></p>
        <% }); %> 
      </form>
    </div>
  </div>
 
</body>
</html>