<!DOCTYPE html>
<html>
    <% include partials/topHeader %>
    <div class="display-info">
      <% blogs.forEach(function(blog){ %>
      <div class="one-card">
        <h4><%= blog.title %></h4>
        <p><%= blog.description.slice(0 ,300)%>
          <a href="/detail/<%= blog.slug %>">
            <p>Read more</p>
          </a>
        </p>     
        <p><i class="fab fa-gratipay"></i><%= blog.likes.length %></p>
        <div class="h-info">
          <h5><%= moment(blog.date).fromNow() %> </h5>
          <p>Author:- <%=blog.author.username %></p>
        </div>
        <% if(locals.user){ %>
        <% if(locals.user.id==blog.author.id){ %>
          <a href="/blog/<%= blog.id %>">
            <button class="remove button-style">remove</button></a>
          <a href="/blog/<%= blog.id %>/edit">
            <button class="edit button-style">edit</button></a>
        <% } %>
        <% } %>        
      </div>
      <% }); %>
    </div>
  </body>
</html>
